.reserve {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapper {
    position: relative;
  }

  .icon {
    cursor: pointer;
    color: #fff;

    &.close {
      font-size: 24px;
      position: absolute;
      top: -50px;
      right: -50px;
      margin-top: 20px;
      margin-right: 20px;
    }
  }

  .head {
    background-color: #fff;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .rooms {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 2px;

    .room {
      padding: 20px 0;
      display: flex;
      align-items: center;
      gap: 30px;

      &:not(:last-child) {
        border-bottom: 1px solid lightgray;
      }

      .info {
        p {
          font-size: 14px;
        }
      }

      .room-numbers {
        display: flex;
        gap: 15px;

        div {
          display: flex;
          flex-direction: column;
          font-size: 10px;
          letter-spacing: 0;

          input:disabled {
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .total {
      background-color: #fff;
      padding: 7px 10px;
      border-radius: 2px;
    }

    button {
      border: none;
      outline: none;
      background-color: var(--color-primary-light);
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      padding: 8px 12px;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background-color: var(--color-primary);
      }
    }
  }
}
