.navbar2 {
  display: flex;
  padding: 15px 0;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;

    li {
      font-size: 14px;
      padding: 10px 20px;
      border-radius: 99px;
      color: #fff;
      text-decoration: none;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      &.selected {
        background-color: hsla(0, 0%, 100%, 0.1);
        border-color: #fff;
      }

      &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
      }
    }
  }
}
