* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --color-primary: #003580;
  --color-primary-light: #0071c2;
  --color-primary-dark: #00224f;
  --color-secondary: #febb02;
}

body {
  color: #262626;
}
