.propertyCard {
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 2px;

  &__left {
    img {
      min-width: 200px;
      min-height: 200px;
      width: 200px;
      height: 200px;
      border-radius: 2px;
      background-color: lightgray;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .head {
      display: flex;
      justify-content: space-between;

      .heading {
        .title {
          font-size: 20px;
          font-weight: bold;
          color: var(--color-primary-light);
          margin-bottom: 5px;
          text-decoration: none;
        }

        .location {
          font-size: 12px;

          span {
            color: var(--color-primary-light);
            font-weight: 600;
            text-decoration: underline;

            &::after {
              color: gray;
              content: '\b7';
              display: inline-block;
              font-weight: 600;
              padding: 0 5px;
              text-decoration: none;
              transform: scale(1.4);
            }
          }
        }
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 10px;
        height: fit-content;

        &__text {
          text-align: right;

          div {
            font-size: 16px;
            font-weight: 500;
          }

          p {
            font-size: 12px;
          }
        }

        &__score {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--color-primary);
          color: #fff;
          width: 34px;
          height: 34px;
          font-weight: 500;
          border-radius: 5px 5px 5px 0;
        }
      }
    }

    .deal {
      font-size: 12px;
      background-color: #008009;
      color: #fff;
      padding: 2px 5px;
      width: fit-content;
      border-radius: 2px;
    }

    .body {
      display: flex;
      justify-content: space-between;
      font-size: 12px;

      .recommendedUnits {
        p {
          margin-bottom: 5px;

          &.bold {
            font-weight: bold;
          }

          &.green {
            color: #008009;
          }
        }
      }

      .availabiltyRates {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        p {
          margin-bottom: 5px;
          color: gray;

          &.price {
            font-size: 20px;
            font-weight: 500;
            color: inherit;
          }
        }

        a {
          text-decoration: none;
          color: #fff;

          .btnCheckAvailabily {
            display: flex;
            align-items: center;
            gap: 10px;
            border: none;
            outline: none;
            background-color: var(--color-primary-light);
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            padding: 8px 12px;
            border-radius: 2px;
            cursor: pointer;
            margin-top: 10px;

            &:hover {
              background-color: var(--color-primary);
            }
          }
        }
      }
    }
  }
}
